.bg{
    background-image: url('./../../../images/bannerbackground.png');
    height: 80vh;
    background-size: cover;
    background-position: center;
    width: 100%;
}
.input{
    width: 30%;
}
input[type="text"]{
    background-color: #fff;
    border: none;
    width: 20%;
    height: 6.4vh;
    text-align: center;
    padding: 0 25px;
    border: none;
    border-radius: 25px 0 0 25px;
    outline: none;
}input[type="submit"]{
    border-radius: 0 25px 25px 0;
    height: 6.4vh;
    outline: none;
    border: none;
    background: red;
    color: white;
    padding: 0 20px;
}