.signup-bg{
    background-image: url('./../../../images/bannerbackground.png');
    height: 105vh;
    background-position: right;
    background-clip: center;
}
.logo-width{
    width: 230px
}
.signup-input{
    border: none;
    text-align: center;
    outline: none;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px 0;
    border-radius: 0px;
    background-color: white;
    box-shadow: 10px 10px 40px rgb(231, 230, 230);
}
.button{
    border: none;
    padding: 10px 139px;
    margin: 15px 0;
    color: white;
    background-color: rgb(248, 53, 53);
}
.or{
    background-color: red;
    height: 2px;
    width: 140px;
    margin: 0 15px;
}
.g-button{
    border: none;
    padding: 10px 60px;
    margin: 15px 0;
    color: white;
    background-color: rgb(248, 53, 53);
}